/* time line */

.history-wrapper {
  position: relative;
  padding: 50px 0 50px;
}
.history-wrapper:after {
  content: "";
  width: 3px;
  height: 100%;
  background: #ededed;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.history-wrapper .title-wrap {
  opacity: 0.2;
  padding: 100px 0 0 45px;
}
.history-wrapper .timeline-box {
  position: relative;
}

.timeline-box img {
  width: 50%;
  height: 50%;
}

.one-of-two {
  width: 50%;
  float: left;
}
.history-wrapper .timeline-box:not(:last-child) {
  margin-bottom: 140px;
}
.timeline-box:nth-child(2n) {
  padding: 0 0 0 140px;
}
.history-wrapper .timeline-box:nth-child(2n) {
  margin-bottom: 140px;
}
.history-wrapper .timeline-box:nth-child(2n + 1) {
  margin-top: -24%;
  text-align: right;
}
.timeline-box:nth-child(2n + 1) {
  padding: 0 140px 0 0;
}
.year {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  top: 30%;
  color: #3b3b3b;
  transform: translateY(-50%);
  border: 1px solid #dbdbdb;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.timeline-box:nth-child(2n) .year {
  left: 25px;
}
.timeline-box:nth-child(2n + 1) .year {
  right: 32px;
}
.year:before {
  content: "";
  width: 15px;
  height: 15px;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
}
.timeline-box:nth-child(2n) .year:before {
  left: -8px;
  transform: rotate(45deg);
}
.timeline-box:nth-child(2n + 1) .year:before {
  right: -8px;
  transform: rotate(-135deg);
}
.timeline-box:after {
  content: "";
  width: 3px;
  height: 0;
  background: #ffa200;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):after {
  left: -1.5px;
}
.timeline-box:nth-child(2n + 1):after {
  right: -1.5px;
}
.timeline-box:hover:after {
  height: 97px;
}
.timeline-box:before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 5px solid #ededed;
  position: absolute;
  background: #fff;
  z-index: 2;
  top: 30%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.timeline-box:nth-child(2n):before {
  left: -10.5px;
}
.timeline-box:nth-child(2n + 1):before {
  right: -10.5px;
}
.timeline-box:hover:before {
  border: 5px solid #ffa200;
}
